.tenantListContainer {
  width: 300px;
}

.tenantList {
  list-style-type: none;
  padding: 0;
}

.tenantItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.tenantItem:last-child {
  border-bottom: none;
}

